# Feel free to add your Python dependencies below. For formatting guidelines, see:
# https://pip.pypa.io/en/latest/reference/requirements-file-format/

apify-client>=1.4.0
beautifulsoup4>=4.12.0
requests>=2.31.0
aiohttp>=3.9.0
python-dateutil>=2.8.2
validators>=0.20.0
